.Ford{
    
    display:grid ;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 3px;
    /* margin-left: 7rem; */
    /* margin-left: 2rem; */
    
}
.Ford-brand{
    margin: 1rem;
    width: 210px;
    background-color: white;
    padding-top: 1rem;
}
.Ford-brand:hover{
    background-color: thistle;
    cursor: pointer;
}
.Ford-brand>img, .Ford-brand>h1{
    width: 210px;
    padding: 5px;
}

button{
    margin-bottom: 1rem;
}

 














/* flex-direction: row; */
 /* row-gap: 50px; */
 /* display: inline grid;
 grid-row-start: 1;
 grid-row-end: 3;
 grid-template-rows:100px 300px ;
     flex-wrap: wrap; */


     