.Others{
    
    display:grid ;
    grid-template-columns: auto auto auto auto ;
    row-gap: 3px;
}
.Others-brand{
    margin: 1rem;
    width: 210px;
    background-color: white;
    padding-top: 1rem;
}
.Others-brand:hover{
    background-color: #eee;
    cursor: pointer;
}
.Others-brand>img, .Others-brand>h1{
    width: 210px;
    padding: 5px;
}

button{
    margin-bottom: 1rem;
}
.Others-brand {
    text-decoration: none;
    width: 270px;
    height: 320px; 
   
    border: 7px solid goldenrod;
     margin : 1rem; 
    
}
  
.Others-brand img {
    display: block;
    margin: auto;
    width: 90%;
    transition: 0.5s all ease-in-out;
    /* margin-top: 1rem; */
    margin-right: 1rem;
}
  
.Others-brand:hover img {
    transform: scale(1.1);
}

.Others-brand {
    border: 5px solid goldenrod;
    width: 250px;
    padding-left: 1rem ;
}
a{
    text-decoration: none;
}

@media (max-width:1020px){
    .Others{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
       }

    
    
}
