.Others{
    
    display:grid ;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 3px;
    
    /* margin-left: 7rem; */
    /* margin-left: 2rem; */
    
}
.Others-brand{
    margin: 1rem;
    width: 210px;
    background-color: white;
    padding-top: 1rem;
}
.Others-brand:hover{
    background-color: thistle;
    cursor: pointer;
}
.Others-brand>img, .Others-brand>h1{
    width: 210px;
    padding: 5px;
}

button{
    margin-bottom: 1rem;
}

 