
.Home{
    background-repeat: no-repeat;
    background-size: cover;
    height: 44rem;
    margin: 0;
    background: linear-gradient(to right, #910534a9, #dba945);
}

.certified{
    margin-top: 3rem;
}
.Car-content{
    margin-top:3rem ;
}
    
.Pick{
    color: black;
    text-align: center;
}
ul{
    float: right;
    display: flex;
    list-style: none;
    
}

.Contact{
    padding-left: 6rem;
}
.home-content{
    display: flex;
    flex-direction: row;
    width: 90%;
    font-size: 30px;
} 
.Car-content{
    padding-left: 1rem;
    width: 50%;
    margin-left: 5rem;
}
.certified{
    padding-left: 3rem;
    width: 50%;
}
.Car{
    color: whitesmoke;
    
}
h3{
    color: orange;
}
.HANSFAHD{
    color: white;
}
p{
    color: aliceblue;
}
.certified{
    color: wheat;
}


.card-content{
    border: 2px solid gray;
    box-shadow: 2rem;
    width: 20%;
    background-color: white;
    display: grid;
    
}
a{
    text-decoration: none;
}
.Car-logo{
display: flex;
flex-direction: row;
}

.Options{
    color: tomato;
    padding-left: 20rem;
}



.logo-img{
    /* background-color: rgba(0, 0, 0, 0.541); */
    padding-left: 8rem;
}

.logo-img img{
    width: 100px;
}

