@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Home{
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #9b0606a9, #c48403);
}

.home-content{
    display: flex;
    flex-direction: row;
}

.certified{
    margin-top: 3rem;
}
.Car-content{
    margin-top:3rem ;
}
    
ul{
    display: flex;
    list-style: none; 
}

.Contact{
    padding-left: 6rem;
}
.home-content{
    display: flex;
    flex-direction: row;
    /* font-size: 30px; */
} 
.Car-content{
    padding-left: 1rem;
    width: 50%;
    margin-left: 3rem;
}

.hero-image{
    width: 50%;
    margin-top: 3rem;
    margin-right: 3rem;
}

.hero-image>img{
    width: 94%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.logo-img:hover{
    background-color: #54432151;
    opacity: .6;
    border: 2px dotted whitesmoke;
}

h3{
    color: orange;
}

p{
    color: aliceblue;
}

a{
    text-decoration: none;
}

.btn-start{
    width: 50%;
    margin-top: 2rem;
}

.Car-logo{
display: flex;
flex-direction: row;
}

.logo-img{
    padding: 2rem;
}

.logo-img img{
    width: 80px;
}

.Car-logo{
    display: inline-flex;
}

/* Media Query */
@media (max-width:678px) {
    .home-content{
        display: flex;
        flex-direction: column;
    }

    .Car-content{
        width: 100%;
        margin-left: 1rem;
    }

    .hero-image{
        width: 100%;
        margin-left: 1rem;
    }

    .Car-logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .logo-img{
        padding: 1rem;
    }


    .hero-image>img{
        width: 90%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }

    .btn-start{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}