.Toyota{
    
    display:grid ;
    grid-template-columns: auto auto auto auto ;
    row-gap: 3px;
    /* margin-left: 7rem; */
    /* margin-left: 2rem; */
     margin-top: 8rem; 
}
.Camry-brand{
    margin: 1rem;
    width: 210px;
    background-color: white;
    padding-top: 1rem;
}
.Camry-brand:hover{
    background-color: paleturquoise;
    cursor: pointer;
}
.Camry-brand>img, .Camry-brand>h1{
    width: 210px;
    padding: 5px;
}
a{
    text-decoration: none;
}

button{
    margin-bottom: 1rem;
}
.Camry-brand {
    border: 7px solid goldenrod;
    width: 251px;
    padding-bottom: 1rem;
    padding-left: 1rem ;
}

/* media query */
@media  (max-width:768px){

    .Toyota{
        display: block;
    }

}

